
.container {
    display: flex;
    justify-content: center;
}

.FormMovie {
    width: 600px;

}

.FormMovie .form-group {
    display: flex;
    flex-direction: column;
}

.FormMovie label, button {
    margin: 10px 0;
}

.FormMovie label {
    display: flex;
    align-items: flex-start;
}